.task-container-v3 {
  display: block;
  margin: 0;
}
.task-container-v3 .tasks-wrap {
  margin: 0;
  height: 44.23vw;
}
@media screen and (min-width: 680px) {
  .task-container-v3 {
    display: flex;
    gap: 0;
  }
}

@media screen and (min-width: 680px) {
  .task-container-v3 .tasks-wrap {
    margin: 0;
    height: 23.52vw;
  }
}
.max-pos-v3 .line {
  width: 6.8%;
  position: absolute;
  border-radius: 3vw;
  z-index: 100000;
  background-color: #000000;
  border-width: 2.6vw;
  border-style: solid;

  border-color: #0075bb;
}
@media screen and (min-width: 680px) {
  .max-pos-v3 .line {
    border-width: 1.2vw;
    border-style: solid;
  }
}

.max-pos-v3-line-1 {
  height: 91.6%;

  -ms-transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  transform: rotate(80deg);

  top: -26.5%;
  left: 32%;
}

.max-pos-v3-line-2 {
  height: 91.6%;

  -ms-transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  transform: rotate(80deg);

  top: 36.4%;
  left: 27%;
}

.max-pos-v3-line-3 {
  height: 91.6%;

  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);

  top: 4.4%;
  left: 61%;
}

.max-pos-v3-line-4 {
  height: 91.6%;

  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);

  top: 4.4%;
  left: 76%;
}

.max-pos-v3-line-5 {
  height: 91.6%;

  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);

  top: 4.4%;
  left: 13%;
}

.max-pos-v3-line-6 {
  height: 91.6%;

  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);

  top: 4.4%;
  left: 28%;
}

.max-pos-v3-line-7 {
  height: 91.6%;

  -ms-transform: rotate(280deg);
  -webkit-transform: rotate(280deg);
  -moz-transform: rotate(280deg);
  -o-transform: rotate(280deg);
  transform: rotate(280deg);

  top: -26.5%;
  left: 57%;
}

.max-pos-v3-line-8 {
  height: 91.6%;

  -ms-transform: rotate(280deg);
  -webkit-transform: rotate(280deg);
  -moz-transform: rotate(280deg);
  -o-transform: rotate(280deg);
  transform: rotate(280deg);

  top: 36.4%;
  left: 62%;
}
